.backgrounded {
	background-image: url('assets/img/sunset_winter.jpg');
	height: 100% !important;
}

.middled {
	padding-top: 18%;
}

.ng-valid[required], .ng-valid.required  {
 	border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}