<div class="backgrounded">
	<div class="container middled">
		<div class="row vertical-offset-100">
			<div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
				<div class="panel panel-info">
					<div class="panel-heading">
						Cloud Authentication
					</div>
					<div class="panel-body">
						<form (ngSubmit)="onSubmit()" #authForm="ngForm">
							<div class="form-group">
								<input type="text" placeholder="Username" class="form-control" required
									   [(ngModel)]="model.username" name="username" #username="ngModel" />
								<div [hidden]="username.valid || username.pristine" class="alert alert-danger">
									Username is required
								</div>
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password" class="form-control" required
									   [(ngModel)]="model.password" name="password" #password="ngModel" />
								<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
									Password is required
								</div>
							</div>
							<button type="submit" class="btn btn-info btn-submit"
									[disabled]="!authForm.form.valid">
								Submit
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>